*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #97BC62;
	color: #2C5F2D;

	#root {

		
		&.clicked {
			%animated {
				transform-origin: top left;
				animation-name: rot;
				animation-duration: 3000ms;
				animation-iteration-count: infinite;
				animation-timing-function: linear;	
			}

			h1 {
				@extend %animated;
			}
			
			p {
				@extend %animated;
				animation-direction: reverse;
			}
		}

		%centered {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		
		h1 {
			@extend %centered;
			font-family: 'Inter', sans-serif;
			font-weight: 900;
			font-size: 48px;
			//width: 100%;
			//text-align: center;
		}
		
		p {
			@extend %centered;
			font-family: 'Inter', sans-serif;
			font-weight: 100;
			font-size: 48px;
			//width: 100%;
			//text-align: center;
		}
	}
}

@keyframes rot {
	from {transform: rotate(0) translate(-50%, -50%);}
	to {transform: rotate(360deg) translate(-50%, -50%);}
}